@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
    /* background-color: var(--color-primary-50); */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* user-select: none; */
}

:root {
    --color-primary: #2d6ef0;
    /* #f37900 #f5a300 👇*/
    --color-secondary: #ffd91a;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-dark: #15151e;
    --color-light: #fafafa;

    --color-primary-50: #e9ebfe;
    --color-primary-100: #c6ccfd;
    --color-primary-200: #9eabfb;
    /* undraw kit color 👇  */
    --color-primary-300: #718afb;
    --color-primary-400: #496ef9;
    /* main color 👇 */
    --color-primary-500: #0052f5;
    --color-primary-600: #0049e9;
    --color-primary-700: #003edc;
    --color-primary-800: #0032d2;
    --color-primary-900: #0018c1;

    --grey-50: #fcfcfc;
    --grey-100: #f7f7f7;
    --grey-200: #f2f2f2;
    --grey-300: #eaeaea;
    --grey-400: #c8c8c8;
    --grey-500: #aaaaaa;
    --grey-600: #808080;
    --grey-700: #6b6b6b;
    --grey-800: #4c4c4c;
    --grey-900: #2a2a2a;
}

hr {
    background-color: #c8d5f3;
    opacity: 0.4;
}

.bg--primary {
    background-color: var(--color-primary);
}

.bg--secondary {
    background-color: var(--color-secondary);
}

.bg--light {
    background-color: var(--color-light);
}

.bg--dark {
    background-color: var(--color-dark);
}

.text--primary {
    color: var(--color-primary);
}

.text--secondary {
    color: var(--color-secondary);
}

.heading--light {
    color: var(--grey-200);
}

.text--light {
    color: var(--grey-400);
}

.heading--dark {
    color: var(--grey-900);
}

.text--dark {
    color: var(--grey-700);
}

.cursor--pointer {
    cursor: pointer;
}

.font--weight-500 {
    font-weight: 500;
}

.heading--gradient-blue {
    color: var(--color-primary);
    background-image: linear-gradient(100deg, var(--color-black), var(--color-primary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text--gradient-blue {
    color: var(--color-primary);
    background-image: linear-gradient(100deg, var(--color-white), var(--color-primary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* for card icon */
.bg--gradient-blue {
    background-color: var(--color-primary);
    background-image: linear-gradient(100deg, var(--color-primary-200), var(--color-primary-700));
}

/* for card icon end */

/* for section background */
.softbg--gradient-light {
    background: rgb(245, 248, 255);
    /* 99% light */
    background: linear-gradient(135deg, rgb(250 251 255) 33%, rgb(255 254 250) 66%);
}

.softbg--gradient-dark {
    background: rgba(2, 12, 39, 1);
    background: linear-gradient(135deg, #041639 33%, #041239 66%);
}

/* for section background end */



.bg--about {
    align-items: center;
    background: linear-gradient(135deg, rgba(1, 8, 25, 0.85) 33%, rgba(1, 5, 15, 0.9) 66%),
        url("../images/1694.jpg");
    background-position: center;
    background-size: cover;
}


.border--primary {
    border-color: var(--color-primary) !important;
}

.step--1:after {
    position: absolute;
    display: block;
    content: "1";
    top: 15px;
    right: 25px;
    color: var(--grey-300);
    font-size: 5.65rem;
}

.step--2:after {
    position: absolute;
    display: block;
    content: "2";
    top: 15px;
    right: 25px;
    color: var(--grey-300);
    font-size: 5.65rem;
}

.step--3:after {
    position: absolute;
    display: block;
    content: "3";
    top: 15px;
    right: 25px;
    color: var(--grey-300);
    font-size: 5.65rem;
}

.step--4:after {
    position: absolute;
    display: block;
    content: "4";
    top: 15px;
    right: 25px;
    color: var(--grey-300);
    font-size: 5.65rem;
}

.step--5:after {
    position: absolute;
    display: block;
    content: "5";
    top: 15px;
    right: 25px;
    color: var(--grey-300);
    font-size: 5.65rem;
}

.nav-header a,
li {
    color: inherit;
    text-decoration: none;
    list-style-type: none;
}

.nav-header a:hover {
    color: var(--color-primary);
    border-bottom: 3px solid var(--color-primary);
}

.underline::after {
    display: block;
    border-radius: .25rem !important;
    margin: auto;
    content: "";
    width: 65px;
    height: 4px;
    margin-top: 10px;
    background-color: var(--color-primary);
    /* background: linear-gradient(to right, var(--color-secondary) 0%, var(--color-secondary) 25%, var(--color-secondary) 25%, var(--color-secondary) 50%, var(--color-primary) 50%, var(--color-primary) 50%, var(--color-primary) 75%, var(--color-primary) 100%) */
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.active {
    border-bottom: 2px solid #002489;
}

/* Cards */
.card--about {
    background: #f2f4fe;
    background: linear-gradient(135deg, rgba(245, 248, 255, 1) 33%, rgba(255, 254, 245, 1) 66%);
    padding-bottom: 15px;
    transition: transform 0.3s, background-color 0.3s;
}

.card--about:hover {
    transform: translateY(-15px);
    transition: transform 0.3s, background-color 0.3s;
}

.card a {
    text-decoration: inherit;
    color: inherit;
}

.services--card {
    background-color: #ffffff0a !important;
    transition: transform 0.3s, background-color 0.3s;
}

.services--card:hover {
    cursor: pointer;
    background-color: #ffffff05 !important;
    transform: translateY(-10px);
    transition: transform 0.3s, background-color 0.3s;
}

.margin--bottom-0 {
    margin-bottom: 0px !important;
}



#blog--container p {
    /* fs-5 = 1.25rem */
    /* line-height: 1.55em; */
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

#blog--container ul,
ol {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    list-style-type: unset;
    background-color: rgb(235, 241, 255);
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 18px;
}

#blog--container ul li {
    list-style-type: disc !important;

}

#blog--container ol li {
    list-style-type: auto;

}

#blog--container li {
    font-size: 1.3rem;
    padding: 8px;
    padding-left: 8px;
    padding-right: 0px;
}

#blog--container li::marker {
    color: var(--grey-900);
    font-weight: 500;
}


.image-wrapper {
    position: relative;
    width: fit-content;
    height: 100%;

}

.image-wrapper::before {
    content: "";
    width: 99%;
    height: 89%;
    position: absolute;
    top: -18px;
    right: -18px;
    background-color: rgb(0 36 137 / 16%);
    z-index: -1;
}

/* 
.image-wrapper::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    right: -18px;
    bottom: -18px;
    background-color: red;
    z-index: -1;
} */