body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7fff9 ;
  /* #fbf4f0 #e7fff9 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cart-border{
border:  1px solid #15d19c!important;

}
button {
  border-color: #0e8d6a;
}

:focus:not(.focus-visible) {
  outline: 0;
  box-shadow: none;
}
